<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultLanguagesList</key>
	<string>English</string>
	<key>exportCsvFieldSeparator</key>
	<string>;</string>
	<key>exportCsvIgnoreTextOutsideTables</key>
	<integer>0</integer>
	<key>exportCsvInsertPageBreakCharacterAsPageSeparator</key>
	<false/>
	<key>exportCsvTextEncoding</key>
	<integer>1</integer>
	<key>exportDocXHighlightUncertainCharacter</key>
	<false/>
	<key>exportDocXImageQuality</key>
	<integer>1</integer>
	<key>exportDocXKeepLineBreaksAndHyphens</key>
	<false/>
	<key>exportDocXKeepLineNumbers</key>
	<true/>
	<key>exportDocXKeepPageBreaks</key>
	<true/>
	<key>exportDocXKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportDocXKeepPictures</key>
	<true/>
	<key>exportDocXKeepTextAndBackgroundColor</key>
	<true/>
	<key>exportDocXLayout</key>
	<integer>1</integer>
	<key>exportDocXPaperSize</key>
	<string>0,0</string>
	<key>exportEpubAnnotation</key>
	<string></string>
	<key>exportEpubAuthor</key>
	<string></string>
	<key>exportEpubBookTitle</key>
	<string></string>
	<key>exportEpubEmbedFonts</key>
	<false/>
	<key>exportEpubImageQuality</key>
	<integer>1</integer>
	<key>exportEpubKeepPictures</key>
	<true/>
	<key>exportEpubKeywords</key>
	<array/>
	<key>exportEpubLayout</key>
	<integer>1</integer>
	<key>exportEpubPreserveFontsAndFontsSize</key>
	<false/>
	<key>exportEpubUseFirstPageAsBookCover</key>
	<true/>
	<key>exportFb2Annotation</key>
	<string></string>
	<key>exportFb2Author</key>
	<string></string>
	<key>exportFb2BookTitle</key>
	<string></string>
	<key>exportFb2EmbedFonts</key>
	<false/>
	<key>exportFb2ImageQuality</key>
	<integer>1</integer>
	<key>exportFb2KeepPictures</key>
	<true/>
	<key>exportFb2Keywords</key>
	<array/>
	<key>exportFb2Layout</key>
	<integer>1</integer>
	<key>exportFb2PreserveFontsAndFontsSize</key>
	<false/>
	<key>exportFb2UseFirstPageAsBookCover</key>
	<true/>
	<key>exportFormat</key>
	<integer>40620</integer>
	<key>exportHtmlCreateFileBasedOnTableContext</key>
	<false/>
	<key>exportHtmlImageQuality</key>
	<integer>1</integer>
	<key>exportHtmlKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportHtmlKeepPictures</key>
	<true/>
	<key>exportHtmlKeepTextAndBackgroundColor</key>
	<false/>
	<key>exportHtmlKeepTextLineBreaksAndHyphens</key>
	<false/>
	<key>exportHtmlLayout</key>
	<integer>1</integer>
	<key>exportHtmlTextEncoding</key>
	<integer>1</integer>
	<key>exportHtmlUseCSS</key>
	<true/>
	<key>exportImageFormat</key>
	<integer>2</integer>
	<key>exportOdtHighlightUncertainCharacter</key>
	<false/>
	<key>exportOdtImageQuality</key>
	<integer>1</integer>
	<key>exportOdtKeepLineBreaksAndHyphens</key>
	<false/>
	<key>exportOdtKeepLineNumbers</key>
	<true/>
	<key>exportOdtKeepPageBreaks</key>
	<true/>
	<key>exportOdtKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportOdtKeepPictures</key>
	<true/>
	<key>exportOdtKeepTextAndBackgroundColor</key>
	<true/>
	<key>exportOdtLayout</key>
	<integer>1</integer>
	<key>exportOdtPaperSize</key>
	<string>0,0</string>
	<key>exportOpenAfterExport</key>
	<true/>
	<key>exportPdfCopyDocumentSequrity</key>
	<false/>
	<key>exportPdfCopyDocumentSequrityPassword</key>
	<string></string>
	<key>exportPdfCreateOutline</key>
	<false/>
	<key>exportPdfEmbedFonts</key>
	<true/>
	<key>exportPdfEnabledTaggedPDF</key>
	<true/>
	<key>exportPdfExportMode</key>
	<integer>2</integer>
	<key>exportPdfImageQuality</key>
	<integer>1</integer>
	<key>exportPdfKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportPdfKeepPictures</key>
	<true/>
	<key>exportPdfKeepTextAndBackgroundColor</key>
	<true/>
	<key>exportPdfMakePdfACompliant</key>
	<false/>
	<key>exportPdfOpenDocumentSequrity</key>
	<false/>
	<key>exportPdfOpenDocumentSequrityPassword</key>
	<string></string>
	<key>exportPdfPaperMargins</key>
	<string>1.180555, 0.7881944, 0,59027777, 0.7881944</string>
	<key>exportPdfPaperSize</key>
	<string>0,0</string>
	<key>exportPdfPrintDocumentSequrity</key>
	<false/>
	<key>exportPdfUseMRC</key>
	<false/>
	<key>exportPptXImageQuality</key>
	<integer>1</integer>
	<key>exportPptXKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportPptXKeepPictures</key>
	<true/>
	<key>exportPptXTextLineBreaksAndHyphens</key>
	<false/>
	<key>exportPptXWrapText</key>
	<false/>
	<key>exportRtfHighlightUncertainCharacter</key>
	<false/>
	<key>exportRtfImageQuality</key>
	<integer>1</integer>
	<key>exportRtfKeepLineBreaksAndHyphens</key>
	<false/>
	<key>exportRtfKeepLineNumbers</key>
	<true/>
	<key>exportRtfKeepPageBreaks</key>
	<true/>
	<key>exportRtfKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportRtfKeepPictures</key>
	<true/>
	<key>exportRtfKeepTextAndBackgroundColor</key>
	<true/>
	<key>exportRtfLayout</key>
	<integer>1</integer>
	<key>exportRtfPaperSize</key>
	<string>0,0</string>
	<key>exportSaveOption</key>
	<integer>0</integer>
	<key>exportTxtInsertPageBreakCharacter</key>
	<false/>
	<key>exportTxtKeepLineBreaksAndHyphens</key>
	<false/>
	<key>exportTxtKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportTxtLayout</key>
	<integer>0</integer>
	<key>exportTxtTextEncoding</key>
	<integer>1</integer>
	<key>exportTxtUseBlankLineParagraphSeparator</key>
	<false/>
	<key>exportXlsXConvertNumericalValuesToNumbers</key>
	<false/>
	<key>exportXlsXIgnoreTextOutsideTables</key>
	<true/>
	<key>exportXlsXImageQuality</key>
	<integer>1</integer>
	<key>exportXlsXKeepPageNumbersHeadersAndFooters</key>
	<true/>
	<key>exportXlsXKeepPictures</key>
	<true/>
	<key>preferencesRecognitionLanguages</key>
	<string>English</string>
</dict>
</plist>
